@import 'foundation-settings';
@import 'foundation';

@include foundation-global-styles;
@include foundation-typography;
@include foundation-grid;
@include foundation-top-bar;
@include foundation-menu;
@include foundation-button;
@include foundation-table;

.top-bar {
  .brand-title {
    a {
      color: $white;
      font-weight: bold;
    }
  }
  .top-bar-right {
    .active {
      background-color: $blue;
      color: $white;
    }
  }
}

.issue-table {
  font-size: 0.8rem;
  thead {
    font-weight: 200;
    .sortable {
      cursor: pointer;
    }
  }
  td {
    padding: 0.5rem;
  }

}
