@import 'foundation-settings';
@import 'foundation';

@include foundation-global-styles;
@include foundation-typography;
@include foundation-grid;
@include foundation-top-bar;
@include foundation-menu;

.top-bar {
  .brand-title {
    a {
      color: $white;
      font-weight: bold;
    }
  }
  .top-bar-right {
    .active {
      background-color: $blue;
      color: $white;
    }
  }
}
