<h3>metrics</h3>

<div class="issues chart">
  {{issue-chart issues=issues}}
</div>
<hr>
<p>
  number of open issues: {{openingIssues.count}}
</p>
<hr>
<div class="customers chart">
  {{customer-chart customers=customers}}
</div>
