<div class="top-bar">
  <div class="row">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="brand-title">
          <a href="#">Udashboard</a>
        </li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li>{{link-to 'Metrics' 'dashboard.metrics'}}</li>
        <li>{{link-to 'Issues' 'dashboard.issues'}}</li>
        <li>{{link-to 'Locations' 'dashboard.locations'}}</li>
      </ul>
    </div>
  </div>
</div>
<div class="main row">
  {{outlet}}
</div>
